/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
/*  <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

/* using imported fonts (from Google Fonts) */
.roboto-slab-academic {
  font-family: "Roboto Slab", serif;
  /* This code snippet came from Google fonts. Itproduced a validator error, but does not seem to break anything when removed
  font-optical-sizing: auto;  */
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* variables for colors */

:root {
  --dark: #004e64;
  --white: #ffffff;
  --light: #9fffcb;
  --gray: #537D88;
  --dark-gray: #3C5158;
}

/* overall style, override browser defaults */
* {
  margin:0;
  box-sizing: border-box;
}

/* general styles */
body {
  min-height: 100vh; /* viewport height */
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

/* all children of the body have padding */
body > * {
  padding: 2rem 3rem;
}

/* headings in Robot font */
h1, h2, h3 {
  font-family: "Roboto Slab", serif;
}

/* Header */
header {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  /* vertically center childern */
  align-items: center;
  /* horizontally push children to the sides */
  justify-content: space-between;
  margin-right: 0;
  /* make header sticky (top of page) */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* always appear on top of any other element */
  z-index: 99;
  padding: 5% 10%;
}

/* link elements in the header should not be underlined and not be blue/purple */
header * {
  text-decoration: none;
  color:inherit;
}

/* logo should be capitalized */
#logo {
  text-transform: capitalize;
}

/* logo link box should not extend too much to the right, it gets too close to the toggle to comfortably tap on mobile */
#logo-link {
  max-width: 60%;
}

/* nav toggle modeled after the Love Running project */
nav {
  position:absolute; /* this removes previous styling, so we need to add it back in */
  right: 5%;
  background-color: var(--dark);
  display: none;
}

/* nav items should not have bullets, but space between instead */
nav ul {
  list-style-type: none;
  padding: 1rem;
}

/* nav toggle: if the toggle is checked, the nav element is displayed */
#nav-toggle:checked ~ nav {
  display:block;
  margin-top: 10rem;
  border: 2px solid var(--light);
}

/* hide checkbox for nav toggle */
#nav-toggle {
  display: none;
}

/* header should not obscure the top of the element navigated to */
#problems h2,
#about h2,
#contact h2{
  margin-top: 15vh;
}

/* Main content */
main {
  /* make main element take up any surplus vertical space so footer is pushed down.
  flex-grow flex-shrink flex-basis */
  flex: 1 0 auto;
  padding: 0;
}

/* positioning of elements in `main` */
main > section {
  padding: 5% 10%;
  width: 100%;
}

h2 {
  margin-top: 2rem;
}

h3 {
  margin-top: 5vh;
}

p {
  margin: 1rem 0;
}

/* hero section */

/* the div holding the hero image */
#hero {
  min-height: 90vh;
  background: url("../images/hero-img-small.webp") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
}

/* the div holding the hero image text */
#hero-text {
  background-color:  var(--dark-gray);
  color: var(--light);
  font-size: 150%;
  font-weight: bold;
  height: 8rem;
  opacity: 0.6;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin-top: 20%;
}

/* Problems & Solutions section */

/* colors and margins */

#problems-solutions {
  background-color: var(--gray);
  color: var(--white);
}

#solutions p,
#solutions ul {
  color: var(--dark-gray);
}

/* inline links */

#solutions a {
  color: var(--dark);
}

#problems-solutions p {
  margin: 0.5rem 0;
}

/* divs containing the text*/
.p-cont {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* divs containing the text and the images */
.color-pic-box {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
}

/* divs containing the images */
.grayscale-pic {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

/* set the background image for each box */

#millions .grayscale-pic {
  background: url("../images/lots-of-paper-grayscale.webp") no-repeat center center/cover;
}

#frustrated .grayscale-pic {
  background: url("../images/frustrated-grayscale.webp") no-repeat center center/cover;
}

#learn-list .grayscale-pic {
  background: url("../images/library.webp") no-repeat center center/cover;
}

#success .grayscale-pic {
  background: url("../images/presentation.webp") no-repeat center center/cover;
}

/* pictures in this section should not be gray, and less tinted */
#solutions .grayscale-pic {
  filter: grayscale(0);
  opacity: 0.8;
}

/* divs containing the text and the images */
.color-cover {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

/* set size of boxes */

#millions .color-cover {
  height: 60vh;
}

#frustrated .color-cover {
  height: 100vh;
}

#learn-list .color-cover {
  height: 140vh;
}

#learn-list ul {
  padding-left: 1rem;
}

#success .color-cover {
  height: 70vh;
}

#problems .color-cover {
  background-color: var(--dark);
}

#solutions .color-cover {
  background-color: var(--light);
}

/* About section */

#about {
  background-color:  var(--light);
  color: var(--dark);
  /* get rid of side padding to make `why-me` image extend the whole width of the site */
  padding-left: 0;
  padding-right: 0;
}

/* add side padding back for other elements in this section, so they match with the rest of the site */

#about > h2, #about > h3, #about >p {
  padding-left: 10%;
  padding-right: 10%;
}

#about > h2 {
  margin-bottom: 2%;
}

/* credentials image - defined for big screens here */

#why-me {
  height: 720px;
  width: 100%;
  background: url("../images/why-me-img.webp") no-repeat  center/cover;
  /* with narrow screen sizes, then image should shrink to show the client */
  background-position: 35%;
  position:relative;
  display: flex;
  justify-content: flex-end;
}

/* Credentials image text: appears on the right-hand side for big screens*/
#why-me-text {
  background-color:  var(--light);
  color: var(--dark);
  font-size: 120%;
  max-width: 40%;
  padding: 2rem;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* credential cards */

/* card arrangement modeled after the Love Running project */

/* the div containing all cards */
#cred-container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap:wrap;
}

/* divs for individual cards */
.cred {
  flex-basis:200px;
  flex-grow: 1;
  padding: 10px;
  margin: 2px;
  height: 200px;
  text-align: center;
  /* flex needed for putting `cred-tap`/`cred-hover` at the bottom of the box */
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  color: var(--white);
}

/* credential cards only display institution & position by default; reveal more information on tap/hover */

/* change colors and add border on tap/hover */
.cred:active,
.cred:hover {
  color: var(--dark);
  background-color: var(--white);
  border: solid 2px var(--dark);
}

/* instruction to tap/hover on the front of the card */
.cred-tap,
.cred-hover {
  font-size: 80%;
  color: var(--light);
  /* push it to the bottom of the parent box */
  margin-top: auto;
  margin-bottom: 0px;
}

/* this is not displayed by default, only on larger screened devices where hover is possible */
.cred-hover {
  display: none;
}

/* hide institution, position, and advice to tap/hover on tap or hover */
.cred:active > h4,
.cred:hover > h4,
.cred:active > .cred-tap,
.cred:active > .cred-hover,
.cred:hover > .cred-tap,
.cred:hover > .cred-hover {
  display: none;
}

/* the div containing more information on each position.
this is not displayed by default */
.cred-content {
  display: none;
  margin: auto 0;
}

/* display the `div` containing more information when parent `div` tapped/hovered over */
.cred:active > .cred-content,
.cred:hover > .cred-content {
  display: block;
}

/* inline links within the content on the flip side of the cards*/

.cred-content a {
  color:inherit;
  font-weight: bold;
}

/* the title of the leadership position held by the client */
.pos {
  font-size: 120%;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: var(--light);
}

/* YouTube video */
#video {
  height: 250px;
  display: flex;
  justify-content: center;
  padding: 0 10%;
  margin-top: 1vh;
}

#video iframe {
  width: 100%;
  height: 250px;
}

/* contact section */

/* color scheme for section */
#contact {
  color:  var(--light);
  background-color: var(--dark);
}

/* container for the Calendly widget */
.calendly-container {
  width: 100%;
}

/* formatting for the Calendly widget */
.calendly-inline-widget {
  min-width:320px;
  height:700px;
  margin-top: 4rem;
}

/* Footer */

/* color and padding */
footer {
  background-color: var(--gray);
  padding: 0;
}

footer * {
  /* link elements in the footer should not be blue/purple */
  color: var(--light);
  font-size: 120%;
}

/* footer links should not have bullets, should be displayed side by side */
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 3% 10%;
}

/* copyright */

/* colors and arrangement */
#copyright{
  background-color: var(--dark-gray);
  margin: 0;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* copyright elements: colors and arrangement */
#copyright * {
  margin: 0 auto;
  color: var(--white);
  font-size: small;
}


/* media query: devices with good pointer capabilities (mouse, trackpad) */
@media screen and (pointer: fine) {

  /*  links should change color and be underlined when hovered over */
  a:hover { /* underline: footer icons included*/
    text-decoration: underline;
  }

  a:hover,
  a:hover i { /* color change: footer icons not included*/
    color: var(--white);
  }

  #solutions a:hover {
    color: var(--white);
    font-weight: bold;
  }

  .cred-content a:hover {
    color: var(--light);
  }

  /* About section */

  /* credential cards should have instructions to "hover" instead of "tap" */

  .cred-hover {
    display: block;
  }

  .cred-tap {
    display: none;
  }
}

/* media query: very narrow phones */
@media screen and (max-width: 300px) {

  /* hearder */
  /* nav bar */
  /* logo link box should not extend too much to the right, it gets too close to the nav bar toggle to comfortably tap on mobile */
  #logo-link {
    max-width: 75%;
  }

  /* Main content */
  #hero-text {
    height: 12rem;
  }

  /* Problems & Solutions section: resize boxes */
  #millions .color-cover {
    height: 70vh;
  }

  #frustrated .color-cover {
    height: 120vh;
  }

  #learn-list .color-cover {
    height: 170vh;
  }

  #success .color-cover {
    height: 90vh;
  }

}

/* media query: phones */
@media screen and (max-width: 480px) {

  /* About section: text should appear at the bottom of the image */
  #why-me {
    flex-direction: column;
  }
  #why-me-text {
    max-width: 100%;
  }
}

/* media query: tablets and larger */
@media screen and (min-width: 768px) {

  /* header */

  header {
    padding: 4vh 10%;
  }

  /* header should not obscure the top of the element navigated to */
  #problems h2,
  #about h2,
  #contact h2{
    margin-top: 10vh;
  }

  /* main content */
  /* hero image */
  #hero {
    padding-top: 10%;
  }

  #hero-text {
    margin-top: 5%;
  }

  /* Problems & Solutions section */

  /* adjust padding for text */
  .p-cont {
    padding: 2rem;
  }

  /* text and pics should be side by side */

  .color-cover {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /* every 2nd box should have the order of the image and text flipped
  has to come after `.color-cover {flex-direction: row;}` */
  .flip {
    flex-direction: row-reverse;
  }

  /* adjust sizes of box elements */

  #millions .color-cover {
    max-height: 30vh;
  }

  #millions .p-cont {
    max-width: 40%;
  }

  #frustrated .color-cover {
    max-height: 50vh;
  }

  #frustrated .p-cont {
    max-width: 60%;
  }

  #learn-list .color-cover {
    max-height: 70vh;
  }

  #learn-list .p-cont {
    max-width: 60%;
  }

  #success .color-cover {
    max-height: 35vh;
  }

  #success .p-cont {
    max-width: 60%;
  }

  /* About section */
  /* YouTube video */
  #video,
  #video iframe {
    height: 400px;
  }

}

/* phones and smaller tablets */
@media screen and (max-width: 816px) {
  /* add white border to Calendly widget for small and medium screen sizes */
  .calendly-inline-widget {
    border: 2px solid white;
  }
}

/* bigger tablets, laptops and desktops */
@media screen and (min-width: 880px) {
  /* nav bar */

  /* display nav list without user action */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    font-size: 120%;
    /* could not figure out why this is not aligned with the right edge of the parent, so adjusted manually */
    margin-right: -2rem;
  }

  /* hamburger menu should not be shown */
  .nav-toggle-label {
    display: none;
  }

  /* arrangement of nav list */
  nav ul {
    display:flex;
    padding: 0;
  }

  /* add padding between nav list items */
  .non-last-li {
    padding-right: 1rem;
  }
}

/* laptops and desktops */
@media screen and (min-width: 992px) {

  /* header should not obscure the top of the element navigated to */
  #problems h2,
  #about h2,
  #contact h2{
    margin-top: 8vh;
  }

  /* hero image */
  #hero {
    /* reduce top padding on wide screens */
    padding-top: 5%;
    background: url("../images/hero-img-opt.webp") no-repeat center center/cover;
  }

  /* About section */
  /* Credentials image */
  #why-me {
    padding-right: 10%;
  }

  /* YouTube video */
  #video,
  #video iframe {
    height: 500px;
  }

}
