/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
/*  <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

 /* using imported fonts (from Google Fonts) */
.roboto-slab-academic {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* variables for colors */

:root {
  --dark: #004e64;
  --white: #ffffff;
  --mint: #9fffcb;
  --blue-gray: #62929e;
}

/* overall style, override browser defaults */
* {
  margin:0;
  box-sizing: border-box;
}

/* general styles */
body {
  min-height: 100vh; /* viewport height */
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

/* all children of the body have padding */
body > * {
  padding: 2rem 3rem;
}

h1, h2, h3 {
    font-family: "Roboto Slab", serif;
}

/* Header */
header {
  background-color: var(--dark);
  color: var(--mint);
  display: flex;
  /* vertically center childern */
  align-items: center;
  /* horizontally push children to the sides */
  justify-content: space-between;
}

/* link elements in the header should not be underlined and not be blue/purple */
header * {
  text-decoration: none;
  color:inherit;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  padding-left: 1rem;
}

/* Main content */
main {
  /* make main element take up any surplus vertical space so footer is pushed down.
  flex-grow flex-shrink flex-basis */
  flex: 1 0 auto;
  padding: 0;
}

main > section {
  padding: 10%;
  width: 100%;
}

h2 {
  margin-top: 2rem;
}

h3 {
  margin-top: 1rem;
}

p {
  margin: 1rem 0;
}

#problems-solutions {
  color: var(--dark);
}

#about {
  background-color:  var(--mint);
  color: var(--dark);
}

#subscribe {
  color:  var(--mint);
  background-color: var(--dark);
}

/* Footer */
footer {
  background-color: var(--blue-gray);
}

  /* link elements in the footer should not be blue/purple */
footer * {
  color: var(--mint);
  font-size: 120%;
  padding: 0 10%;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
